@page
@model OnTheSceneWebApp.Areas.Identity.Pages.Account.Manage.AdminPanelModel
@{
    ViewData["Title"] = "Admin Panel";
}

<style>
    #adminPagesLinks{
        list-style-type:none;
    }
</style>

<ul id="adminPagesLinks">
    <li><a asp-controller="movies" asp-action="createmovie" class="btn btn-primary">Add Movie</a></li>
    <li><a asp-controller="movies" asp-action="createavailablebooking" class="btn btn-primary mt-2">Add Available Booking</a></li>
</ul>


